version: "3.4"

networks:
  node-react:
    external:
      name: node_react

services:
  mongo:
    image: mongo
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - ./SampleCollections:/usr/local/sampleCollections
    working_dir: /usr/local/sampleCollections

  merchant-db:
    image: postgres
    environment:
      - POSTGRES_DB=merchant
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=password
    volumes:
      - ./db-data:/var/lib/postgresql/data:rw
    ports:
      - "5433:5432"
    networks:
      - node-react

  merchant-adminer:
    image: adminer
    depends_on:
      - merchant-db
    environment:
      ADMINER_DEFAULT_SERVER: merchant-db
      ADMINER_PLUGINS: tables-filter tinymce
    ports:
      - 8081:8080
    networks:
      - node-react

  mongo-express:
    image: mongo-express
    depends_on:
      - mongo
    ports:
      - 127.0.0.1:8088:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: password

  merchant-api:
    image: node:alpine
    volumes:
      - "./server:/home/node/app:rw,consistent"
    working_dir: "/home/node/app"
    environment:
      MONGODB_USER: "root"
      MONGODB_PASS: "password"
      MONGODB_DBNAME: "SampleCollections"
      DATABASE_URL: "postgres://root:password@merchant-db/merchant"
      JWT_SECRET: "MyBestSecret"
    depends_on:
      - merchant-db
    command: "npm start"
    ports:
      - 127.0.0.1:3004:3000
    networks:
      - node-react

  client:
    build: "./client"
    volumes:
      - "./client:/home/node/app"
    working_dir: "/home/node/app"
    command: "yarn start"
    tty: true
    stdin_open: true
    ports:
      - 127.0.0.1:3001:3000
    networks:
      - node-react

volumes:
  db-data: {}
